* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #2b2b2b;
    border-radius: 15px;
    padding: 30px;
    width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    color: #4CAF50;
    margin-bottom: 30px;
}

.placar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.time {
    text-align: center;
}

.versus {
    font-size: 30px;
    font-weight: bold;
    color: #0f0f0f;
    background-color: #ffffff;
    border-radius: 200px;
    padding: 10px;
}

.pontos {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.sets {
    font-size: 1.2em;
    color: #888;
}

.botoes{
    display: flex;
}

.botao1{
    width: 33%;
}



.botao2{
    width: 33%;
}

.botaogeral{
    width: 33%;
}

.control-btnright {
    padding: 12px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #474747;
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-btnleft {
    padding: 12px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #474747;
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-btnright:hover {
    background-color: #5e5e5e;
    transform: translatey(-4px);
    box-shadow: -9px 9px 20px #690058;
}

.control-btnleft:hover {
    background-color: #5e5e5e;
    transform: translatey(-4px);
    box-shadow: 9px 9px 20px #690058;
}

.control-btnright:active {
    background-color: #8d207b
}

.control-btnleft:active {
    background-color: #8d207b
}

.botaoreset{
    padding: 12px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #1b1b1b;
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaoreset:hover {
    background-color: #c07978;
}

.vencedor {
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
}

h1{
    color: #ffffff;
}

#time1{
    background-color: #b1b1b1;
    border-radius: 20px;
    padding: 50px;
}

#time1:hover{
    box-shadow: -10px 12px 20px #690058;
}

#time2{
    background-color: #b1b1b1;
    border-radius: 20px;
    padding: 50px;
}

#time2:hover{
    box-shadow: 10px 12px 20px #690058;
}

