body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .menu button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #690058;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu button:hover {
    background-color: #7e276f;
    transform: translatey(-3px);
  }
  